:root {
    --font: "EB Garamond", serif;
    --font-title: "Playfair Display", serif;
    --font-sans-serif: "Manrope", sans-serif;
    --black: #1c1f33;
    --black--acc: #222;
    --gray: #eee;
    --gray-1: #ededed;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
 background-color: #dbd2ba;
    font-size: 1.1rem;
    background: url("https://i.pinimg.com/564x/81/8e/83/818e833b99ac53685dd9055c0fd390b0.jpg") ;
    padding: 4rem 2rem;
    line-height: 1.3;
    text-align: justify;
    /* column-break-inside: avoid; */
  }
  
  a {
    text-decoration: none;
    display: block;
    color: var(--black);
  }
  a:hover, a:focus, a:active, a:visited {
    color: var(--black--acc);
  }
  
  /* .main__wrapper {
    max-width: 1135px;
    margin: auto;
  } */
  
  h1 {
    font: 50px/1 "Playfair Display SC";
    text-align: center;
  }
  @media (min-width: 700px) {
    h1 {
      font: 70px/1 "Playfair Display SC";
    }
  }
  
  h3 {
    font: italic 20px var(--font-title);
    margin-bottom: 1rem;
  }
  
  h4 {
    font: 20px/1.2 var(--font-title);
  }
  
  h5 {
    font: 700 20px/1 var(--font);
    transition: 0.3s ease;
  }
  
  p {
    line-height: 1.3;
  }
  p a {
    display: inline;
  }
  
  em {
    font-style: italic;
  }

 button {
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.6s ease; 
}

button:hover {
    background-color: #C4391D;
}
#submitNewsBtn {
    transition: background-color 0.3s ease;
}


  .title--large {
    font-family: var(--font-title);
    font-size: 32px;
    font-style: italic;
    text-align: left;
    margin-bottom: 0.8rem;
  }
  @media (min-width: 700px) {
    .title--large {
      font-size: 42px;
      margin: 0;
    }
  }
  
  @media (min-width: 900px) {
    main {
      display: grid;
      grid-template-columns: repeat(4, 1fr) 23%;
    }
  }
 main h1,
  main aside {
    grid-column: 1/-1;
  }
   /* @media (min-width: 700px) {
    main .main-title {
      grid-column: 1/-1;
    }
  }
  @media (min-width: 1024px) {
    main .main-title {
      grid-column: 1/-2;
    }
  }


  @media (min-width: 700px) {
    main .main-text {
      grid-column: span 5;
    }
  }
  @media (min-width: 1024px) {
    main .main-text {
      grid-column: span 2;
    }
  } */
  @media (min-width: 700px) {
    main .sidebar {
      grid-column: 1/-1;
    }
  }
  @media (min-width: 1024px) {
    main .sidebar {
      grid-row: 3/6;
      grid-column: 5/6;
    }
  }
 
 
  img {
    width: 100%;
    filter: grayscale(95%);
    margin-bottom: 0.5rem;
    border: 1px solid var(--black);
    transition: 0.3s ease;
  }
  

  
  aside {
    text-align: center;
    padding: 3px 0;
    border: solid var(--black);
    border-width: 2px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.5rem 0;
  }
  @media (min-width: 700px) {
    aside {
      margin: 0;
    }
  }
  aside > div {
    display: flex;
    align-items: center;
    border: solid var(--black);
    border-width: 1px 0;
  }
  aside > div > div {
    flex: 1;
    padding: 8px;
  }
  
  @media (min-width: 700px) {
    .multi-column {
      column-count: 2;
      column-gap: 1.3rem;
      margin-top: 0.75rem;
    }
    /* .multi-column-3 {
      column-count: 3;
    } */
  }
  .sidebar {
    margin-top: 3rem;
  }
  @media (min-width: 700px) and (max-width: 1024px) {
    .sidebar {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-between; */
      align-items: flex-start;
      margin: 0;
    }
    .sidebar h3 {
      width: 100%;
      text-align: center;
    }
    .sidebar > a {
      flex: 0 1 48%;
      margin: 1.5rem 0;
      padding: 0;
    }
  
  }
  @media (min-width: 1024px) {
    .sidebar {
      display: block;
      border-left: 1px solid;
      padding-left: 1.2rem;
      margin: 0;
    }
  }
  
  .main-text.multi-column {
    margin: 0;
  }
  .main-text.multi-column p {
    margin-bottom: 0.8rem;
  }

  .nike_img {
    margin: 0;
    border: 0;
    max-height: 34rem;
    object-fit: cover;
  }
  .nike_txt {
    background: #999;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.4rem 1rem;
    font: 14px var(--font-sans-serif);
    color: var(--gray);
  }

  .sidebar-item {
    margin: 2rem 0;
    padding: 2rem 0 0;
  }
  .sidebar-item h5 {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    margin: auto;
  }
  .sidebar-item p {
    margin-top: 1rem;
  }
  .sidebar-item:hover h5 {
    transition: 0.3s ease;
    background: var(--black);
    color: #fff;
  }
  
  .item-with-image {
    margin-top: 1.5rem;
  }
  .item-with-image h4 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 0.5rem;
    transition: 0.2s ease;
  }
  @media (min-width: 700px) {
    .item-with-image {
      margin: 0;
    }
  }
  .item-with-image:not(.cssgrid-collection):hover h4 {
    color: white !important;
    background: var(--black);
  }
  .magazine {
    border: 1px solid;
    border-width: 1px 0;
    padding-bottom: 1rem;
  }
  
  .menu {
    margin: 1.5rem 0;
  }
  @media (min-width: 1024px) {
    .menu {
      margin: 0;
    }
  }
  .menu figure {
    height: 100%;
  }
  .menu img {
    height: 90%;
    object-fit: cover;
    object-position: left;
  }
  

  @media (min-width: 1024px) {
    .captcha {
      margin-top: 0;
    }
  }
  
  .outer_knowmore {
    border: 2px solid transparent;
    outline: 3px solid var(--black);
    box-shadow: inset 0 0 0 1px var(--black);
    width: calc(100% - 4px);
    margin: 3rem auto 0.2rem;
  }
  .cyber_img {
    padding: 2px;
  }
  .cyber_img img {
    height: 16rem;
    object-fit: cover;
    object-position: left;
    border: none;
  }
  @media (min-width: 1024px) {
    .cyber_img img {
      height: 35rem;
    }
  }
  .cyber {
    font: 22px/1.1 var(--font-sans-serif);
    text-align: center;
    padding: 0.5rem;
    color: var(--black);
    margin: -1rem 0.5rem 0.3rem;
  }
  .know_more {
    font: 18px/1.1 var(--font-sans-serif);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    background: var(--black);
    color: var(--gray);
    transition: 0.2s ease;
  }
  
 

  .pie:hover img,
  .menu:hover img,

  .toggles:hover img,
  .outer_knowmore:hover img,
  .cssgrid-collection__image:hover img {
    filter: grayscale(0);
  }
  
  .outer_knowmore:hover .know_more {
    background: transparent;
    color: var(--black);
  }
